<div class="jumbotron">
  <center>
    <h1>Bienvenidos a Animalandia</h1>
    <img src="http://floresarchundia.com/wp-content/uploads/2016/10/animales-1000x600.jpg" alt="Animalandia's shop">
    <br>
    <%= link_to "Check out our animals", pets_path, class: "btn btn-default" %>
  </center>  
</div>